/* general rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* html */
html {
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

/* body */
body {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right,#2b5876, #4e4376);
    overflow: hidden;
}

/* adding color to the first h1 that is the child of body element - the title of the page */
body > h1 {
    color: #70faff;
    font-size: 3rem;
}

/* input div that holds input fields and buttons */
.input-div {
    margin: 2rem 0 2.5rem 0;
}

/* ipnut field */
.input-field {
    width: 10rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    outline: none;
    color: #70faff;
    border: 3px solid #70faff;
    border-radius: 8px;
    background-color: transparent;
}

.input-field:focus {
    /* border: 3px solid #ff268f; */
    background-color: #050A30;
}

/* placeholder sentence for input div */
::placeholder {
    color: #70faff;
}

/* button properties for button-get and button-remove */
button {
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.5rem;
    color: #70faff;
    border: 3px solid #70faff;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    transition: 0.2s ease-in;
}

button:hover {
    background-color: #050A30;
}

/* div that displays the info gotten from AJAX call */
.data-show {
    width: 90%;
}

/* div inside "data-show" that is the second elvel container for info */
.main {
    height: 75vh;
    display: flex;
    margin: 1rem 0 2rem 0;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
}

.main:hover {
    background-color: rgba(255, 251, 240, 0.2);
    cursor: pointer;
}

.main:hover > .remove {
    visibility: visible;
}

.remove {
    font-size: 2rem;
    position: relative;
    right: 2%;
    top: 1%;
    visibility: hidden;
}

/* left side that contains title, poster and release date */
.main-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
}

.title {
    font-size: 2.5rem;
    text-align: center;
}

/* right side that contains IMDb rating, director, actors and plot */
/* rating */
.main-right {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.rating-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    border: 5px solid #70faff;
    border-radius: 50%;
    color: #70faff;
    
}

.rating-number {
    font-size: 6rem;
}

/* div that is displayed when user searches for the wrong movie title */
.wrong-title-div {
    position: absolute;
    top: 40%;
    left: 41%;
    height: 7rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 251, 240, 0.5);
    border: 2px solid #70faff;
    border-radius: 15px;
    display: none;   
}

/* media queries */
@media only screen and (max-width: 1366px) {
    html {
        font-size: 1rem;
    }
}